body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.main-container {
    width: 1100px;
    margin : 0 auto;
}
.header-container {
    width: 100%;
    height: 80px;
    background-color: #AEC3AE;
    position: relative;
}
.header-logo img {
    float:left;
    width :100px;
    height: auto;
    margin: 10px 50px;
    display: flex;
}
.menu ul li {
    float:right;
    list-style: none;
    margin : 25px 15px;
}
li a {
    color: #183D3D;
    font-weight: bold;
    text-decoration: none;
}
.button-nav a {
    color: #AEC3AE;
    background-color: #183D3D;
    font-weight: bold;
    text-decoration: none;
    border-radius: 100px;
    padding: 8px;
}
.button-nav a:hover {
    color: #183D3D;
    background-color: #E4E4D0;
    cursor: pointer;
}
.main-contain {
    margin:0px;
    padding:0px;
    display:block;
    position: relative;
    clear: both;
}
#beranda img {
    width: 400px;
    height: 300px;
    margin: 30px 10px 30px 50px;
    float: left;
}
#beranda .konten1 {
    width:600px;
    height:300px;
    float: right;
    color: #183D3D;
    margin:20px;
}
.konten1 h3 {
    margin: 20px 0px -10px 0px;
}
.konten1 h2 {
    font-size: 45px;
    font-weight: 800px;
}
.konten1 p {
    margin-bottom: 30px;
}
p a {
    text-decoration: none;
    color :#AEC3AE;
    background-color: #183D3D;
    border-radius: 50px;
    padding: 8px;
    font-weight: bold;
}
p a:hover {
    color :#183D3D;
    background-color: #AEC3AE;
}
#produkkami h4 {
    color: #183D3D;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #AEC3AE;
    border-radius: 50px;
}
#produkkami .kolom {
    display: inline-block;
    margin:30px;
    text-align: center;
}
#produkkami img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
#materi-rekomendasi h4 {
    color: #183D3D;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #AEC3AE;
    border-radius: 50px;
}
#materi-rekomendasi .kolom {
    display: inline-block;
    margin:30px;
    text-align: center;
}
#materi-rekomendasi a {
    text-decoration: none;
    color: #183D3D;
}
#materi-rekomendasi img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.konten-rekomendasi ul li {
    font-weight: bold;
    margin-top: 5px;
}
.konten-rekomendasi p {
    margin-top: 5px;
    padding: 0px;
}
.footer {
    width: 100%;
    height:110px;
    background-color: #AEC3AE;
    position:relative;
    text-align: left;
    display: inline-block;
}
.footer-left{
    float: left;
    margin:10px 50px;
    padding:0px;
    color:#183D3D;
}
.footer-left img {
    float: left;
    width: 130px;
    height: auto;
    margin-bottom: 8px;
}
.konten-rekomendasi {
    margin: 30px;
    padding:0px;
    text-align: justify;
}
.footer-center {
    float: left;
    margin:0px 30px;
    padding:0px;
    color:#183D3D;
}
.footer-center ul li {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 10px;
}
.footer-right {
    float: left;
    margin-left: 50px;
    color:#183D3D;
}
.footer-right h3 {
    font-size: 15px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: -10px;
}
.footer-right p {
    width: 400px;
    text-align: justify;
    font-size: 13px;
    padding-top: 5px;
}

