body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.main-container {
    width: 1100px;
    margin : 0 auto;
    display: relative;
}
.header-container {
    width: 100%;
    height: 80px;
    background-color: #AEC3AE;
    position: relative;
}
.header-logo img {
    float:left;
    width :100px;
    height: auto;
    margin: 10px 50px;
    display: flex;
}
.menu ul li {
    float:right;
    list-style: none;
    margin : 25px 15px;
}
li a {
    color: #183D3D;
    font-weight: bold;
    text-decoration: none;
}
.button-nav a {
    color: #AEC3AE;
    background-color: #183D3D;
    font-weight: bold;
    text-decoration: none;
    border-radius: 100px;
    padding: 8px;
}
.button-nav a:hover {
    color: #183D3D;
    background-color: #E4E4D0;
    cursor: pointer;
}
.main-contain {
    margin:0px;
    padding:0px;
    display:block;
    position: relative;
    clear: both;
}
#beranda img {
    width: 400px;
    height: 300px;
    margin: 30px 10px 30px 50px;
    float: left;
}
#beranda .konten1 {
    width:600px;
    height:300px;
    float: right;
    color: #183D3D;
    margin:20px;
}
.konten1 h3 {
    margin: 20px 0px -10px 0px;
}
.konten1 h2 {
    font-size: 45px;
    font-weight: 800px;
}
.konten1 p {
    margin-bottom: 30px;
}
p a {
    text-decoration: none;
    color :#AEC3AE;
    background-color: #183D3D;
    border-radius: 50px;
    padding: 8px;
    font-weight: bold;
}
p a:hover {
    color :#183D3D;
    background-color: #AEC3AE;
}
#produkkami h4 {
    color: #183D3D;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #AEC3AE;
    border-radius: 50px;
}
#produkkami .kolom {
    display: inline-block;
    margin:30px;
    text-align: center;
}
#produkkami .grammar{
    width: 300px;
    height: 200px;
}
#produkkami .listening{
    width: 300px;
    height: 200px;
}
#produkkami .speaking{
    width: 300px;
    height: 200px;
}
#materi-rekomendasi h4 {
    color: #183D3D;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #AEC3AE;
    border-radius: 50px;
}
#materi-rekomendasi .kolom {
    display: inline-block;
    margin:30px;
    text-align: center;
}
#materi-rekomendasi .tenses{
    width: 300px;
    height: 200px;
}
#materi-rekomendasi .basicgrammar{
    width: 300px;
    height: 200px;
}
#materi-rekomendasi .listen{
    width: 300px;
    height: 200px;
}
#materi-rekomendasi .preposition{
    width: 300px;
    height: 200px;
}
#materi-rekomendasi .past{
    width: 300px;
    height: 200px;
}
#materi-rekomendasi .noun{
    width: 300px;
    height: 200px;
}
.footer {
    width: 100%;
    height: 150px;
    background-color: #AEC3AE;
    position: relative;
}
.footer-logo img {
    float: left;
    width: 250px;
    height: auto;
    margin: 20px 20px 20px 40px;
}
.footer-contain h4 {
    float: left;
    color: #183D3D;
    width: 200px;
    height:auto;
    text-align: justify;
}
.menu-footer ul li {
    list-style: none;
    margin:25px;
    float:right;
    text-decoration: underline;
}


