:root {
    --bg :rgb(230, 245, 207);
    --font : #183D3D;
}

* {
    margin : 0;
    padding :0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font);
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(158, 179, 132);
    border-bottom: 1px solid #7EAA92;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index:999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    color:#183D3D;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--bg);
}

.navbar .navbar-nav a {
    display: inline-block;
    margin : 0 1rem;
    color :#183D3D;
    font-size: 1.1rem;
}

.navbar .navbar-nav a:hover {
    font-weight: bold;
}

.navbar .navbar-extra a{
    display: inline-block;
    margin : 0 0.5rem;
    color :#183D3D;
}

.navbar .navbar-extra a:hover {
    color: #FFF3DA;  
}

#hamburger-menu {
    display: none;
}

/* Navbar Search Form */
.navbar .search-form {
    position: absolute;
    top :100%;
    right:7%;
    width: 45rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var(--bg);
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height :100%;
    width:100%;
    font-size: 1.4rem;
    background-color:var(--bg);
    color: var(--font);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--font);
}

/* Register Form */
.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.wrapper .form-box {
    width: 27rem;
    padding: 2rem;
    line-height: 2rem;
    background-color: var(--bg);
    border-radius: 2rem;
}

.wrapper .icon-close {
    position: absolute;
    top:0;
    right:0;
    width:3rem;
    height:3rem;
    color: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index:1;
}

.wrapper .form-box h2{
    text-align: center;
    font-size: 1.8rem;
}

.wrapper .form-box .input-box {
    position: relative;
    width: 100%;
    height: 2.5rem;
    border-bottom: 2px solid #0b1d1d;
    margin:2rem 0;
}

.wrapper .form-box .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0 5rem 0 1rem;
}

.wrapper .form-box .input-box .icon {
    position: absolute;
    right: 1.5rem;
    font-size: 1.2rem;
}

.wrapper .form-box .remainder-forgot{
    font-size: 1rem;
    font-weight: 500;
    margin:-1.5rem 0 2rem;
    display: flex;
    justify-content: space-between;
}

.wrapper .form-box .remainder-forgot label input{
    accent-color: var(--font);
    margin-right: 0.4rem;
}

.wrapper .form-box .remainder-forgot a{
    color: var(--font);
}

.wrapper .form-box .remainder-forgot a:hover{
    text-decoration: underline;
}

.wrapper .form-box .btn {
    width:100%;
    height: 3rem;
    background-color: #0b1d1d;
    border: none;
    outline: none;
    border-radius: 1rem;
    color: var(--bg);
    font-weight: bold;
    cursor: pointer;
}

.wrapper .form-box .login-register {
    font-size: 1rem;
    text-align: center;
    margin:1rem 0 2rem;
}

.wrapper .form-box .login-register p a{
    text-decoration: none;
    color: var(--font);
}

.wrapper .form-box .login-register a:hover{
    text-decoration: underline;
}

/*Hero Section*/
.hero {
    padding: 9rem 7%;
}

.hero .row {
    display: flex;
}

.hero .row .beranda-img {
    flex : 1 1 40rem;
}

.hero .row .beranda-img img{
    width:100%
}

.hero .row .content {
    flex : 1 1 40rem;
    padding : 2rem;
}

.hero .content h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.hero .content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero .content p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.hero .content .cta {
    font-size: 1.2rem;
    color:#183D3D;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color:rgba(158, 179, 132, 0.8);
    border-radius: 1rem;
    font-weight: bold;
}

.hero .content .cta:hover {
    background-color: #183D3D;
    color: #CEDEBD;
}

/*Beasiswa section*/
.beasiswa,
.produkkami,
.tentangkami {
    padding: 8rem 7%;
}

.beasiswa h2,
.produkkami h2,
.tentangkami h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.beasiswa h2 span,
.produkkami h2 span,
.tentangkami h2 span{
    color:#0b1d1d;
}

.beasiswa .row {
    display: flex;
}

.beasiswa .row .beasiswa-img {
    flex : 1 1 40rem;
}

.beasiswa .row .beasiswa-img img{
    width:100%;
    border-radius: 3rem;
}

.beasiswa .row .content {
    flex : 1 1 40rem;
    padding : 0 2rem;
    margin-top: 2rem;
}

.beasiswa .row .content h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.beasiswa .row .content h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.beasiswa .row .content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.beasiswa .content #buttonBeasiswa {
    font-size: 1.2rem;
    color:#183D3D;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color:rgba(158, 179, 132, 0.8);
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.beasiswa .content #buttonBeasiswa:hover {
    background-color: #183D3D;
    color: #CEDEBD;
}

/*Produk Section*/
.produkkami h2,
.tentangkami h2 {
    margin:1rem;
}

.produkkami .description,
.tentangkami .description {
    text-align: center;
    max-width: 30rem;
    font-size: 1.3rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6rem;
}

.produkkkami h2 span,
.tentangkami h2 span {
    color:#0b1d1d;
}
.produkkami .row,
.tentangkami .row {
    display: flex;
    flex-wrap: wrap;
    margin-top:3rem;
    justify-content: space-evenly;
}

.produkkami .row .menu-card,
.tentangkami .row .profil-card {
    text-align: center;
    padding-bottom: 3.5rem;
}

.produkkami .row .menu-card img{
    border-radius: 3rem;
    max-width: 30rem;
}

.tentangkami .row .profil-card img {
    width: 10rem;
}

.produkkami .row .menu-card .menu-card-title,
.tentangkami .row .menu-card .menu-card-title {
    margin-top: 1.5rem auto 0.5rem;
    padding-top :1rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;

}

.produkkami .row .menu-card .menu-card-desk,
.tentangkami .row .menu-card .menu-card-desk {
    margin-top: 1.5rem auto 0.5rem;
    max-width: 25rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.4rem;
}

.produkkami .menu-card .btn,
.beasiswa .row .btn,
.produkkami .menu-card .item-detail-button {
    font-size: 1.1rem;
    color: #CEDEBD;
    padding: 0.5rem;
    background-color:#183D3D;
    border-radius: 1rem;
    font-weight: bold;
}

.produkkami .menu-card .btn:hover,
.beasiswa .row .btn:hover,
.produkkami .menu-card .item-detail-button:hover {
    background-color: rgba(224, 241, 195, 0.8);
    color: #183D3D;
}

/*Footer Section*/
footer {
    background-color:rgba(158, 179, 132, 0.8);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .sosials {
    padding: 1rem 0;
}

footer .sosials a {
    color:#0b1d1d;
    margin: 1rem;
}

footer .sosials a:hover {
    color: #CEDEBD;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #0b1d1d;
    padding:0.7rem 1rem;
}

footer .links a:hover {
    font-weight: bold;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    font-weight: bold;
    color:#0b1d1d;
}

/* Modal Box */
/* Item Detail */
.modal {
    display: none;
    position: fixed;
    z-index:9999;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
}

.modal-container {
    position: relative;
    background-color: #fefefe;
    color :var(--font);
    margin:15% auto;
    padding:1.2rem;
    border :1px solid #666;
    width :80%;
    height: 45%;
    animation :animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
    from {
        top : -300px;
        opacity: 0;
    }
    to {
        top:0;
        opacity: 1;
    }
}

.modal-container .close-icon {
    position: absolute;
    right:1rem;
}

.modal-content {
    display: flex;
    flex-wrap: nowrap;
}

.modal-content iframe {
    height:20rem;
    margin-right:2rem;
    margin-bottom:2rem;
    width: 110%;
}

.produk-content p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top:1.2rem;
}
/*Media Queries*/

/*Laptop*/
@media (max-width : 1366px) {
    html { font-size:75%;
    }
}

/*Tablet*/
@media (max-width : 768px) {
    html { 
        font-size:62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top:100%;
        right :-100%;
        background-color: rgba(158, 179, 132);
        width:30rem;
        height:100vh;
    }

    .navbar .navbar-nav.active{
        right :0;
        transition: 0.5s;
    }

    .navbar .navbar-nav a {
        font-size: 1.5rem;
        display: block;
        margin:1.5rem;
        padding:0.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin :0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform:scaleX(0.2)
    }

    .navbar .search-form {
        width: 90%;
        right:2rem;
    }

    .beasiswa .row,
    .hero .row,
    .produkkami .row,
    .tentangkami .row  {
        flex-wrap: wrap;
    }

    .beasiswa .row .beasiswa-img img,
    .hero .row .beranda-img img{
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .beasiswa .row .content,
    .hero .row .content {
        margin-top:1rem;
    }

    .hero .row .content h1 {
        font-size: 2.5rem;
    }

    .beasiswa .row .content p {
        font-size: 1.3rem;
    }

    .beasiswa .row .content h3 {
        margin-top:1rem;
        font-size: 2rem;
    }

    .produkkami .row .menu-card .menu-card-desk,
    .tentangkami .row .menu-card .menu-card-desk {
        font-size: 1.3rem;
    }

    .modal-content {
        flex-wrap: wrap;
    }

}

/*Mobile*/
@media (max-width : 450px) {
    html { 
        font-size:55.5%;
    }

    .beasiswa .row {
        flex-wrap: wrap;
    }

    .navbar .navbar-nav {
        width:25rem;
    }
}
