:root {
    --bg :rgb(230, 245, 207);
    --font : #183D3D;
}

* {
    margin : 0;
    padding :0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font);
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(158, 179, 132);
    border-bottom: 1px solid #7EAA92;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index:999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    color:#183D3D;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--bg);
}

.navbar .navbar-nav a {
    display: inline-block;
    margin : 0 1rem;
    color :#183D3D;
    font-size: 1.1rem;
}

.navbar .navbar-nav a:hover {
    font-weight: bold;
}

.navbar .navbar-extra a{
    display: inline-block;
    margin : 0 0.5rem;
    color :#183D3D;
}

.navbar .navbar-extra a:hover {
    color: #FFF3DA;  
}

#hamburger-menu {
    display: none;
}

/* Navbar Search Form */
.navbar .search-form {
    position: absolute;
    top :100%;
    right:7%;
    width: 45rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var(--font);
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height :100%;
    width:100%;
    font-size: 1.6rem;
    background-color:var(--font);
    color: var(--bg);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

/*Hero Section*/
.hero {
    padding: 9rem 7%;
}

.hero .row {
    display: flex;
}

.hero .row .beranda-img {
    flex : 1 1 40rem;
}

.hero .row .beranda-img img{
    width:100%
}

.hero .row .content {
    flex : 1 1 40rem;
    padding : 2rem;
}

.hero .content h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.hero .content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero .content p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.hero .content .cta {
    font-size: 1.2rem;
    color:#183D3D;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color:rgba(158, 179, 132, 0.8);
    border-radius: 1rem;
    font-weight: bold;
}

.hero .content .cta:hover {
    background-color: #183D3D;
    color: #CEDEBD;
}

/*Beasiswa section*/
.beasiswa,
.produkkami {
    padding: 8rem 7%;
}

.beasiswa h2,
.produkkami h2,
.tentangkami h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.beasiswa h2 span,
.produkkami h2 span,
.tentangkami h2 span{
    color:#0b1d1d;
}

.beasiswa .row {
    display: flex;
}

.beasiswa .row .beasiswa-img {
    flex : 1 1 40rem;
}

.beasiswa .row .beasiswa-img img{
    width:100%;
    border-radius: 3rem;
}

.beasiswa .row .content {
    flex : 1 1 40rem;
    padding : 0 2rem;
    margin-top: 2rem;
}

.beasiswa .row .content h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.beasiswa .row .content h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.beasiswa .row .content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.beasiswa .content .cta {
    font-size: 1.2rem;
    color:#183D3D;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color:rgba(158, 179, 132, 0.8);
    border-radius: 1rem;
    font-weight: bold;
}

.beasiswa .content .cta:hover {
    background-color: #183D3D;
    color: #CEDEBD;
}

/*Produk Section*/
.produkkami h2,
.tentangkami h2 {
    margin:1rem;
}

.produkkami .description,
.tentangkami .description {
    text-align: center;
    max-width: 30rem;
    font-size: 1.3rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6rem;
}

.produkkkami h2 span {
    color:#0b1d1d;
}
.produkkami .row {
    display: flex;
    flex-wrap: wrap;
    margin-top:3rem;
    justify-content: space-evenly;
}

.produkkami .row .menu-card {
    text-align: center;
    padding-bottom: 3.5rem;
}

.produkkami .row .menu-card img {
    border-radius: 3rem;
    max-width: 30rem;
}

.produkkami .row .menu-card .menu-card-title {
    margin-top: 1.5rem auto 0.5rem;
    padding-top :1rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;

}

.produkkami .row .menu-card .menu-card-desk {
    margin-top: 1.5rem auto 0.5rem;
    max-width: 25rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.4rem;
}

.produkkami .menu-card .cta {
    font-size: 1.1rem;
    color: #CEDEBD;
    padding: 0.5rem;
    background-color:#183D3D;
    border-radius: 1rem;
    font-weight: bold;
}

.produkkami .menu-card .cta:hover {
    background-color: rgba(224, 241, 195, 0.8);
    color: #183D3D;
}

/*Footer Section*/
footer {
    background-color:rgba(158, 179, 132, 0.8);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .sosials {
    padding: 1rem 0;
}

footer .sosials a {
    color:#0b1d1d;
    margin: 1rem;
}

footer .sosials a:hover {
    color: #CEDEBD;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #0b1d1d;
    padding:0.7rem 1rem;
}

footer .links a:hover {
    font-weight: bold;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    font-weight: bold;
    color:#0b1d1d;
}

/*Media Queries*/

/*Laptop*/
@media (max-width : 1366px) {
    html { font-size:75%;
    }
}

/*Tablet*/
@media (max-width : 768px) {
    html { 
        font-size:62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top:100%;
        right :-100%;
        background-color: rgba(158, 179, 132);
        width:30rem;
        height:100vh;
    }

    .navbar .navbar-nav.active{
        right :0;
    }

    .navbar .navbar-nav a {
        font-size: 1.5rem;
        display: block;
        margin:1.5rem;
        padding:0.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin :0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform:scaleX(0.2)
    }

    .navbar .search-form {
        width: 90%;
        right:2rem;
    }

    .beasiswa .row,
    .hero .row,
    .produkkami .row  {
        flex-wrap: wrap;
    }

    .beasiswa .row .beasiswa-img img,
    .hero .row .beranda-img img{
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .beasiswa .row .content,
    .hero .row .content {
        margin-top:1rem;
    }

    .hero .row .content h1 {
        font-size: 2.5rem;
    }

    .beasiswa .row .content p {
        font-size: 1.3rem;
    }

    .beasiswa .row .content h3 {
        margin-top:1rem;
        font-size: 2rem;
    }

    .produkkami .row .menu-card .menu-card-desk {
        font-size: 1.3rem;
    }

}

/*Mobile*/
@media (max-width : 450px) {
    html { 
        font-size:55.5%;
    }

    .beasiswa .row {
        flex-wrap: wrap;
    }

    .navbar .navbar-nav {
        width:25rem;
    }
}
